{% extends 'base.html' %}

 
{% block body %}

<br />
<form class='form-inline mb-4'>
    <div class='form-group mb-2 ml-auto'>
        <input type='text' class='form-control' placeholder='Insert your link here!' name='url'>
    </div>
    <button type='submit' class='btn btn-primary mb-2 mr-auto'>Search</button>
</form>

{% if result %}

<h2 class="text-center ">{{ result.feed.title }}</h2>
<br />

{% if result.entries %}


    <div class="container">
        <div class="row">
        {% for entry in result.entries %}
        
        <div class="col-6" >
            <div class='card mb-2 position-relative' style="height:400px;">
                <div class='card-body'>
                    <h5 class='card-title'>{{ entry.title }}</h5>
                    <p class='card-text'>{{ entry.summary }}</p>
                    <img alt="feed" src={{ entry.links.1.href }}
            width="300" height="300">
                    <div class="position-absolute w-100" style="bottom:0; right:0;" >
                        <div class="card-footer">
                            <small >{{ entry.published|slice:22 }}</small>
                            <a href='{{ entry.link }}' class='btn btn-primary float-right ' style="bottom:50px;">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endif %}

{% else %}

    <br>
    <p class="text-center">Please enter your favorite RSS feed link above!</p>

{% endif %}


{% endblock %}