{% extends 'rss/base.html' %}

 
{% block body %}

<br />
<form class='form-inline'>

<div class='form-group mx-sm-3 mb-2'>
<input type='text' class='form-control' placeholder='Insert your link here!' name='url'>
</div>

<button type='submit' class='btn btn-primary mb-2'>Search</button>

</form>

{% if feed %}

<h2>{{ feed.feed.title }}</h2>

{% if feed.entries %}


<div class="container">
    <div class="row">
    {% for entry in feed.entries %}
    
    <div class="col-6" >
    
    
    <div class='card ' style="height: 400px;">
        <div class='card-body'>
            <h5 class='card-title'>Headline: {{ entry.titsle }}</h5>
            <p class='card-text'>Description: {{ entry.description }}</p>
            <p>{{ entry.published|slice:22 }}</p>
            <br>
            <a href='{{ entry.link }}' class='btn btn-primary'>Visit Link</a>
        </div>
    </div>
    </div>
    {% endfor %}
     

</div>
    


{% endif %}

{% else %}

<br />

<p>Please enter your favorite RSS feed link above!</p>


{% endif %}



{% endblock %}